$Pacifico: "Pacifico", sans-serif;
$common-text: "Comfortaa", sans-serif;

.logo__text {
  font-family: $Pacifico;
  font-size: 4rem;
  color: $dark-green;
  margin: 1.5rem 0;
  @media (max-width: $tablet) {
    font-size: 2rem;
  }
  @media (max-width: $mobile) {
    font-size: 2rem;
  }
}
.text_h1 {
  font-family: $common-text;
  font-size: 3rem;
  color: $dark-green;
  @media (max-width: $mobile) {
    font-size: 2rem;
  }
}

.link_git {
  font-family: $common-text;
  text-decoration: none;
  color: $dark-green;
  font-size: 1.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 15px;
}

.score {
  font-family: $Pacifico;
  font-size: 1.2rem;
  margin: 0;
  color: $dark-green;
  span {
    font-family: $common-text;
    font-size: 1.5rem;
  }
}
.score__wrapper {
  display: flex;
  gap: 30px;
}

.question__header,
.answer__name {
  font-family: $Pacifico;
  color: $dark-green;
  margin: 0;
}

.answer__question {
  font-family: $common-text;
  font-size: 1.5rem;
  color: $dark-green;
}

.answer__description {
  font-family: $common-text;
  color: $dark-green;
}

.answer__species {
  font-family: $common-text;
  font-weight: 600;
  color: $dark-green;
  margin: 0;
}

.quis__answer {
  font-family: $common-text;
  font-size: 1.2rem;
  padding: 0.85rem 1.25rem;
  @media (max-width: $mobile) {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
  }
}

.text_congrats {
  font-family: $Pacifico;
  color: $dark-green;
  font-size: 5rem;
  margin: 1rem 0;
  @media (max-width: $mobile) {
    font-size: 3rem;
  }
}

.text_congrats2 {
  font-family: $common-text;
  color: $dark-green;
  font-size: 4rem;
  margin: 1rem 0;
  @media (max-width: $mobile) {
    font-size: 2rem;
  }
}
