$mid-green: #cde4cd;
$light-green: linear-gradient(0deg, rgba(0, 163, 0, 0.1), rgba(0, 163, 0, 0.1)),
  #ffffff;

$dark-green: #1c361c;
$light-dark-green: #86af86;
$success-color: #3ca33c;
$success-hover-color: #398639;
$success-pressed-color: #266626;
$white: #ffffff;

$gray: #a7a7a7;
$failure-color: #ea9700;

$desktop: 1440px;
$tablet: 980px;
$mobile: 638px;
$small-mobile: 340px;
