.player {
  display: flex;
  gap: 15px;
  width: 100%;
  align-items: center;

  flex-wrap: wrap;
}
.player__current,
.player__total {
  font-family: $common-text;
  font-size: 1rem;
  color: $dark-green;
  width: 35px;
  transition: all 1s ease-in-out;
}
.answer__player {
  grid-row: 2;
  grid-column: 2/3;
}
.player__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.player__sound {
  background-image: url("../../assets/svg/sound_icon.svg");
  width: 40px;
  height: 40px;
  background-size: cover;
  color: $mid-green;
}

input[type="range"]::-webkit-slider-thumb {
  background: $success-hover-color;

  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 1s linear;
  -webkit-appearance: none;
  box-shadow: -100vw 0 0 99vw $success-pressed-color;
}

.player__range_track {
  flex: 1 1 auto;
}
.player__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  transition: all 1s linear;

  background: $mid-green;
}
